:host {
  display: block;
}
header {
  color: white;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #444;
}

.nav-link.active {
  background-color: #555;
}
